.btn {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: $btn-back;
  color: $btn-color-hover;
  border-radius: 25px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.09);
  font-size: 13px;
  font-family: "helvetica-medium", sans-serif;
  -webkit-transition: background-color .3s ease, color .3s ease;
  transition: background-color .3s ease, color .3s ease;

&:hover{
  background-color: $btn-back-hover;
  color: $btn-color;
}
}