/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .5 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #000;
$websters-select-popup-back: #fff;
$websters-select-popup-item-active-color: #fff;
$websters-select-popup-item-active-back: #f00;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #fff;
$btn-back-hover: #377ae6;
$btn-color: #fff;
$btn-color-hover: #377ae6;
/*---------- /btn ---------*/

/*---------- book ----------*/
$btn-book-span-back: #377ae6;
$btn-book-span-color: #fff;
/*---------- /book ---------*/

/*---------- menu ----------*/
$menu-color: #fff;
$menu-color-hover: #ece8e8;
$menu-color-btn: #fff;
/*---------- /menu ---------*/

/*---------- language ----------*/
$language-color-current: #fff;
$language-color-item: #377ae6;
$language-color-item-border: #377ae6;
/*---------- /language ---------*/

/*---------- hero ----------*/
$hero-color-title: #fff;
$hero-back-btn: #377ae6;
$hero-color-span: #fff;
/*---------- /hero ---------*/

/*---------- services ---------*/
$services-content-color: #2d3244;
$services-color-h2: #4e5876;
$services-back: #fff;
$services-back-hover: rgba(15,107,255,0.9);
$services-color-hover: #fff;
$services-arrow-color: #fff;
/*---------- /services ---------*/

/*---------- footer ---------*/
$footer-back: #16171c;
$footer-history-color: #666667;
$footer-about-color: #fff;
$footer-copyright-color: #747474;
$footer-copyright-link-color: #fff;
$footer-developer-color: #747474;
$footer-developer-link-color: #fff;
/*---------- /footer ---------*/
