.footer{
  position: relative;
  width: 1110px;
  margin: 0 auto;
  padding: auto;

  &__about{
    color: $footer-about-color;
    line-height: 28px;
    font-family: "helvetica-bold", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    display: block;
    letter-spacing: .5px;
    width: 90%;
    margin: 0 auto 15px;
  }

  &__history{
    display: block;
    font-family: "genbas-regular", sans-serif;
    font-size: 16px;
    color: $footer-history-color;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    width: 90%;
    margin: 0 auto 15px;
  }

  &__book {

  }

  &__copyright{
    color: $footer-copyright-color;
    font-family: "helvetica-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 20px;
    display: block;
    position: relative;
    margin: 0 auto 15px;
    width: 95%;
    text-align: center;
    
    a:link,
    a:active,
    a:visited{
      color: $footer-copyright-link-color;
      text-decoration: none;;
    }
    
  }

  &__logo{
    top:0;
    left:0;
    width: 120px;
    position: relative;
    margin: 0 auto 15px;
    display: block;
  }

  &__developer{
    color: $footer-developer-color;
    font-family: "helvetica-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 20px;
    position: relative;
    margin: 0 auto;
    width: 90%;
    text-align: center;
    margin-bottom: 15px;

    a:link,
    a:active,
    a:visited{
      color: $footer-copyright-link-color;
      text-decoration: none;;
    }
  }
}

@media (min-width: $desktop) {

  .footer {
      width: 1110px;
      margin: 0 auto;
      padding-bottom: 150px;

    &__about {
      display: inline-block;
      width: 325px;
      margin: 0 20px 0 4px;
    }

    &__history{
      display: inline-block;
      width: 447px;
      position: relative;
      top: 11px;
      left: 38px;
    }



    &__copyright{
      position: absolute;
      bottom: 0px;
      left: 0;
      margin: 0;
      width: auto;

      a:hover,
      a.visited:hover{
        text-decoration: underline;
      }

    }

    &__logo{
      position: absolute;
      top: auto;
      bottom: -13px;
      left: 50%;
      margin: 0 0 0 25px;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      width: auto;
    }

    &__developer{
      position: absolute;
      bottom: 0px;
      right: 0;
      margin: 0;
      width: auto;
      margin: 0;

    a:hover,
    a.visited:hover {
      text-decoration: underline;
    }
    }
  }

}