.hero{

  &__info {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 50px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 22px;
    z-index:1;
  }

  &__title {
    display: inline-block;
    margin-bottom: 22px;
    color: $hero-color-title;
    font-family: "helveticaneue-thin", sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
  }

  &__play{

    &-btn{
      height: 58px;
      width: 58px;
      border-radius: 50%;
      background: url("../img/play.png");
      background-color: $hero-back-btn;
      margin: 0 auto  16px;
      display: block;
      cursor: pointer;
    }

    & span{
      color:$hero-color-span;
      font-size:13px;;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: "helvetica-medium", sans-serif;
      font-weight: bold;
      font-style: normal;
      text-align: center;
      display: block;
      opacity: 1;
    }
  }

  @media (min-width: $desktop) {
    position: relative;
    min-height: 700px;
    &__info {
      position: absolute;
      top: 50%;
      left: 50%;
      padding-top: 50px;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__title{
      display: inline-block;
      color: $hero-color-title;
      font-family: "HelveticaNeue-Thin", sans-serif;
      font-weight: 400;
      font-size: 48px;
      text-align: center;
      margin-bottom: 22px;
    }

    &__play{

      &-btn{
        height: 58px;
        width: 58px;
        border-radius: 50%;
        background: url("../img/play.png");
        background-color: $hero-back-btn;
        margin: 0 auto 16px;
        display: block;
        -webkit-transition: transform .3s ease;
        transition: transform .3s ease;

        &:hover{
          transform: scale(1.1);
        }
      }
    }

    & span{
      color:$hero-color-span;
      font-size:13px;;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: "helvetica-medium", sans-serif;
      font-weight: bold;
      font-style: normal;
      text-align: center;
      display: block;
      opacity: 1;
      transition: all .5s ease;
      transform: rotateX(90deg);
      transform-origin: center -10px;
      perspective: 10px;
    }

    .hero__play-btn:hover+span{
      opacity: 1;
      transform: rotateX(0deg);
    }
  }

  &__layout{
    z-index: -1;
    max-height: 848px;
    overflow: hidden;


    &__video{
      height: 100vh;
      width: auto;
      min-height: 100%;
      background: url("../img/bg-promo.png");
      background-size: auto 100%;
      background-position: center;
    }
  }

  @media (min-width: $desktop) {
    &__layout{
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      z-index: -1;
      max-height: 848px;
      overflow: hidden;

      &__video{
        height: auto;
        width: 100%;
        min-height: 100%;
        background: url("../img/bg-promo.png");
        background-size: auto 100%;
        background-position: center;
      }
    }
  }
}

