.language {
  font-family: "helvetica-medium", sans-serif;
  font-size: 13px;
  margin: 25px auto 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  //.icon {
  //  height: 20px;
  //  width: 20px;
  //  display: inline-block;
  //  background-image: url(../img/languageIcon.png);
  //  margin-left: 10px;
  //}

  &__current{
    color: $language-color-current;
    text-transform: none;
    cursor: pointer;
    display: flex;
    flex-direction:row;
    align-items: center;
    & i{
      font-style: normal;
      display: none;
    }
    &::before {
      content: attr(data-description);
    }
  }

  &__item{
    text-transform: none;

    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    opacity: 1;
  }

  li {
    a:link,
    a:visited,
    a:active {
      display: inline-block;
      position: relative;
      color: $language-color-item;
      margin-left:20px;
      & span{
        display: none;
      }
    }
    a::before {
      content: attr(data-description);
    }
  }
}

@media (min-width: $desktop) {
  .language {
    position: absolute;
    top: -40px;
    right: 0;
    font-family: "helvetica-medium", sans-serif;
    font-size: 13px;
    margin:0;
    display: flex;
    flex-direction:row;
    align-items: center;
    height:18px;

    .icon {
      height: 20px;
      width: 20px;
      display: inline-block;
      background-image: url(../img/languageIcon.png);
      margin-left: 10px;
    }

    &__current{
      color: $language-color-current;
      text-transform: none;
      cursor: pointer;
      display: flex;
      flex-direction:row;
      align-items: center;
      & i{
        font-style: normal;
        display: block;
      }
      &::before {
        content: '';
      }
    }

    &:hover{
      .language__item{
        visibility: visible;
        opacity: 1;
      }
    }

    &__item{
      height: 30px;
      text-transform: none;
      position: absolute;
      top: 0;
      right: 100%;
      visibility: hidden;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      -webkit-transition: opacity .5s ease, visibility .5s ease;
      transition: opacity .5s ease, visibility .5s ease;
      margin:0;
      opacity: 0;
    }

    li{
      a:link,
      a:visited,
      a:active {
        display: inline-block;
        position: relative;
        color: $language-color-item;
        margin: 3px 10px 0;

        & span{
          display: block;
        }

      }

      a:before {
        display: block;
        position: absolute;
        content: "";
        height: 1px;
        width: 0;
        background-color: $language-color-item-border;
        transition: width .2s ease-in-out, left .2s ease-in-out;
        left: 50%;
        bottom: 0;
      }

      a:hover::before {
        width: 100%;
        left: 0;
      }

    }
  }
}