 .logo {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
   z-index:5;
   & img{
     height: 55px;
     width: 120px;
   }
  }

@media (min-width: $desktop) {
  .logo {
    display: inline-block;
    position: absolute;
    top: 38px;
    left: 0;
    & img{
      height: 89px;
      width: 195px;
    }
  }
}