.menu{
  position: relative;
  text-transform: uppercase;
  @include header-menu-font;

  &__btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 34px;
    height: 27px;
    padding: 13px 0 13px 0;
    background-color: transparent;
    z-index: 10;
    cursor: pointer;
    border: none;

    span{
      display: block;
      width: 100%;
      height: 1px;
      background-color: $menu-color-btn;
      -webkit-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease;

      &:before,
      &:after{
        position: absolute;
        left: 0;
        right: 0;
        height: inherit;
        background-color: inherit;
        content: '';
        -webkit-transition: top .3s ease, -webkit-transform .3s ease, background-color .3s ease;
        transition: top .3s ease-in-out, transform .3s ease, background-color .3s ease;

      }

      &:before{
        top: 3px;
      }

      &:after{
        bottom: 3px;
      }

    }

  }

  &__wrap {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
  }

  &__item {
    position: static;
    top: 0;
    letter-spacing: 1px;
    a {
      color: $menu-color;
      display: block;
      text-align: center;
      padding-top: 25px;
      font-size: 16px;
    }
  }

  &.menu_opened{

    .menu__btn {
      span {
        background-color: transparent;


        &:before {
          top: 13px;
          background-color: #fff;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
        }

        &:after {
          bottom: 13px;
          background-color: #fff;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
        }
      }
    }

    .menu__wrap {
      background-color: rgba(0,0,0,0.96);

      min-height:100vh;
      position: fixed;
      width: 100%;
      visibility: visible;
      opacity: 1;
      padding-top: 30px;
      animation-name: frames-menu;
      animation-duration: 0.3s;
      animation-timing-function: ease-out;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index:2;
    }

}

}
//@media (min-width: $phone-landscape) {
//}

@media (min-width: $desktop) {
  .menu{
    position: absolute;
    top: 54px;
    left: 313px;
    width: 795px;

    &__btn {
      position: absolute;
      opacity: 0;
      visibility: hidden;
    }

    &__wrap {
      opacity: 1;
      visibility: visible;
      position: static;
      z-index: 0;
    }

    &__item {
      position: absolute;
      top: 8px;
      display: inline;
      letter-spacing: 1px;

      a:link,
      a:visited,
      a:active {
        display: inline-block;
        position: relative;
        color: $menu-color;
        margin: 0 40px 0 0;
        padding: 0;
        text-align: center;
        font-size: 14px;
      }

      a::before {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 0;
        background-color: #ece8e8;
        -webkit-transition: width .2s ease, left .2s ease;
        transition: width .2s ease, left .2s ease;
        left: 50%;
        bottom: 0;
      }

      a:hover::before {
        width: 100%;
        left: 0;
      }

      a::after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 0;
        background-color: $menu-color-hover;
        -webkit-transition: width .2s ease, left .2s ease;
        transition: width .2s ease, left .2s ease;
        left: 50%;
        top: 0;
      }

      a:hover::after {
        width: 100%;
        left: 0;
      }


      a:hover,
      a.visited:hover {
        color: $menu-color-hover;
      }
    }

  }
}