body{
  background-color: #f0f1f5;
}

.site {

  &__header {
    .header__wrapper {
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
      height: auto;
      width: auto;
      margin: 0 auto;
    }
  }

  &__content{
    min-height: calc(100vh - 539px);
  }

  &__footer{
    padding-top: 15px;
    background-color: $footer-back;
    width: 100%;
    display: flex;
  }
}

@media (min-width: $desktop) {
  .site {

    &__header {
      .header__wrapper {
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        height: 126px;
        width: 1108px;
        margin: 0 auto;
        z-index:1;
      }

    }
    .fixed{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.9);
      height: 80px;
      z-index: 5;
      -webkit-transition: background-color .3s ease;
      transition: background-color .3s ease;

      .logo {
        display: inline-block;
        position: absolute;
        top: 11px;
        left: 20px;
        z-index:5;
        & img{
          height: 55px;
          width: 120px;
        }
      }
      .menu{
        top: 25px;
        .language{
          visibility: hidden;
          opacity:0;
        }
      }
    }
    &__footer{
      padding: 140px 0 114px;
      background-color: $footer-back;
      width: 100%;
      display: flex;

    }
  }

}

