.whitebutton {
  width: 133px;
  line-height: 1px;
  background-color: #fff;
  border-radius: 25px;
  display: inline-block;
  padding: 3px 6px 3px 20px;
  text-transform: uppercase;
  color: #377ae6;
  font-size: 13px;
  font-family: "helvetica-medium", sans-serif;
  margin: 25px auto 0;

  i {
    font-style: normal;
    vertical-align: middle;
  }
  span {
    color: #fff;
    background-color: #377ae6;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    margin-left: 10px;
  }

}

@media (min-width: $desktop) {

  .whitebutton {
    width: auto;
    position: absolute;
    top: -8px;
    right: 0;
    line-height: 30px;
    background-color: #fff;
    border-radius: 25px;
    display: inline-block;
    padding: 0px 6px 0px 20px;
    text-transform: uppercase;
    margin: 0;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.09);

    i {
      font-style: normal;
      vertical-align: middle;
    }
    span {
      color: #fff;
      background-color: #377ae6;
      border-radius: 50%;
      font-size: 11px;
      width: 24px;
      height: 24px;
      display: inline-block;
      line-height: 24px;
      text-align: center;
      margin-left: 10px;
    }

  }
  a.whitebutton:link,
  a.whitebutton:visited,
  a.whitebutton:active {
    color: #377ae6;
    font-size: 13px;
    font-family: "helvetica-medium", sans-serif;

  }

  a.whitebutton:hover,
  a.whitebutton.visited:hover {
    color: #fff;
    background-color: #377ae6;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    span {
      color: #377ae6;
      background-color: #fff;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
}